ul {
    /* width: clamp(85px, 10vw, 20vw); */
    /* width: minmax(85px, 240px); */
    width: 120px;
    list-style: none;
    padding: 0;
    cursor: pointer;
    margin: auto;
    scale: 1;
}

ul:hover {
    scale: 1.1;
    transition: scale 0.1s ease-in-out;
}

img {
    width: 50%;
    margin: auto;
}

h2 {
    font-size: 1rem;
}

@media screen and (max-height: 800px) {
    ul {
        width: 60px;
    }
    h2 {
        font-size: 0.4rem;
    }
}

@media screen and (min-width: 768px) {
    ul {
        width: 240px;
    }
    h2 {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 1024px) {
    ul {
        width: 360px;
    }
    h2 {
        font-size: 1.6rem;
    }
}
