.drop-down-container {
    /* width: clamp(155px, 50%, 600px); */
    /* text-align: center; */
}

.label-container {
    color: var(--orange);
    text-align: center;
    margin: 0.8rem 0;
}

select {
    background-color: var(--bg-color);
    color: var(--white);
    cursor: pointer;
    text-align: justify;
    width: clamp(180px, 30vw, 250px);
    border-radius: 2px;
}

select option:first-child {
    text-align: center;
}

@media screen and (min-width: 481px) {
    .drop-down-container {
    }
}
@media screen and (min-width: 769px) {
}
