.drop-down-container {
    display: flex;
    flex-direction: row;
}

.drop-down-container > label {
    color: var(--orange);
}

select {
    background-color: var(--bg-color);
    color: #fff;
    cursor: pointer;
    text-align: justify;
    width: max-content;
}

select option:first-child {
    text-align: center;
}
