.drop-down-container {
    width: min-content;
    margin: 1rem auto;
}

.label-container {
    color: var(--orange);
    width: fit-content;
    margin: auto;
}

select {
    background-color: var(--bg-color);
    color: #fff;
    cursor: pointer;
    text-align: justify;
    min-width: 155px;
}

select option:first-child {
    text-align: center;
}

@media screen and (min-width: 481px) {
    .drop-down-container {
        display: flex;
        flex-direction: row;
    }
}
@media screen and (min-width: 769px) {
}
