.score-container {
    width: fit-content;
    margin: 0 auto 1rem;
    font-size: 1.2rem;
}

.score-counter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.6rem;
}
