.score-container {
    font-size: clamp(1rem, 3.5vw, 1.2rem);
}

.score-container .score-counter:first-child {
    margin-bottom: 0.8rem;
}

.score-counter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.8rem;
}
