@font-face {
    font-family: 'stratum2-medium';
    src: url('../src/assets/fonts/stratum2-medium-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'cs-regular';
    src: url('../src/assets/fonts/cs_regular.ttf') format('truetype');
}

:root {
    --orange: rgb(227, 136, 34);
    --white: rgba(255, 255, 255, 0.87);
    --bg-color: rgba(0, 0, 0, 1);
    /* --bg-color: #242424; */

    font-family: stratum2-medium, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    line-height: 1.5;

    color-scheme: light dark;
    color: var(--white);
    background-color: var(--bg-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html,
body {
    height: 100vh;
    overflow: hidden;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
    background-color: transparent;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
#root,
#__next {
    isolation: isolate;
}
