#card-container {
    max-width: 90vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15vh, 1fr));
    gap: 0.3rem;
    text-align: center;
}

/* * S landscape */
@media screen and (max-height: 320px) {
    #card-container {
        grid-template-columns: repeat(auto-fit, minmax(30vh, 1fr));
    }
}

@media screen and (min-width: 500px) and (max-height: 500px) {
    #card-container {
        grid-template-columns: repeat(auto-fit, minmax(25vh, 1fr));
    }
}

@media screen and (min-width: 768px) and (max-height: 700px) {
    #card-container {
        grid-template-columns: repeat(auto-fit, minmax(40vh, 1fr));
    }
}

@media screen and (min-width: 1280px) and (max-height: 700px) {
    #card-container {
        grid-template-columns: repeat(auto-fit, minmax(45vh, 1fr));
    }
}

@media screen and (min-width: 768px) and (min-height: 700px) {
    #card-container {
        grid-template-columns: repeat(auto-fit, minmax(15vh, 1fr));
    }
}
@media screen and (min-width: 1024px) and (min-height: 700px) {
    #card-container {
        grid-template-columns: repeat(auto-fit, minmax(30vh, 1fr));
        gap: 0.6rem;
    }
}
