.drop-down-container {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.label-container {
    color: var(--orange);
    text-align: center;
    margin: 0.8rem 0;
}

.drop-down > select {
    background-color: var(--bg-color);
    color: var(--white);
    cursor: pointer;
    text-align: justify;
    width: clamp(180px, 30vw, 200px);
    border-radius: 5px;
}

select option:first-child {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .drop-down > select {
        font-size: 1.1rem;
    }
}
