#info-dialog-btn {
    background-image: url('../assets/svg/quote.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    scale: 1;
    border: none;
    margin-top: 5px;
}

#info-dialog-btn:hover {
    scale: 1.1;
    transition: scale 0.1s ease-in-out;
}

#info-dialog {
    width: fit-content;
    color: var(--white);
    border: 1px solid;
    border-radius: 5px;
    font-size: 0.7rem;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: rgba(0, 0, 0);
}

#close-svg {
    margin-top: 2rem;
    padding: 0.2rem 0.4rem;
    background-color: transparent;
    color: var(--orange);
    border: 1px solid var(--orange);
    border-radius: 5px;
}

#close-svg:hover {
    background-color: var(--orange);
    color: var(--white);
    border: 1px solid var(--white);
    transition: color 0.2s ease-in-out, border 0.2s ease-in-out, background-color 0.3s ease-in-out;
}

@media screen and (min-width: 768px) {
    #info-dialog-btn {
        width: 25px;
        height: 25px;
    }

    #info-dialog {
        font-size: 1rem;
    }
}
