#replay-btn {
    padding: 0.2rem 0.4rem;
    background-color: transparent;
    color: var(--orange);
    border: 1px solid var(--orange);
    border-radius: 8px;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

#replay-btn:hover {
    background-color: var(--orange);
    color: var(--white) !important;
    border: 1px solid var(--white);
    transition: color 0.2s ease-in-out, border 0.2s ease-in-out, background-color 0.3s ease-in-out;
}

@media screen and (min-height: 800px) {
    #replay-btn {
        margin-bottom: 1rem;
        padding: 0.4rem 1rem;
        border: 2px solid var(--orange);
        font-size: 1.4rem;
    }
    #replay-btn:hover {
        border: 2px solid var(--white) !important;
    }
}
