.score-container {
    font-size: clamp(1rem, 3.5vw, 1.2rem);
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.3);
}

.score-counter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.8rem;
}

@media screen and (min-width: 768px) {
    .score-container {
        font-size: clamp(1rem, 4vw, 1.5rem);
        display: flex;
        gap: 3rem;
    }
}

@media screen and (min-width: 1024px) {
    .score-container {
        font-size: clamp(1rem, 4vw, 1.8rem);
    }
}
