#root {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 0.8rem;
}

.label_hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

#h1-container {
    display: flex;
    place-items: center;
    gap: 0.3rem;
}

h1 {
    font-family: cs-regular, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    color: var(--orange);
    font-size: clamp(1.5rem, 8vw, 3.6rem);
    text-align: center;
    white-space: nowrap;
}

@media screen and (min-height: 1024px) {
    h1 {
        padding: 1.2rem 0.3rem;
    }
}
