@font-face {
    font-family: 'stratum2-medium';
    src: url('../src/assets/fonts/stratum2-medium-webfont.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'cs-regular';
    src: url('../src/assets/fonts/cs_regular.ttf') format('truetype');
    font-display: swap;
}

:root {
    /* --orange: rgb(227, 136, 34); */
    --orange: rgb(251, 172, 24);
    --white: rgba(255, 255, 255, 0.87);
    --bg-color: rgba(0, 0, 0, 1);

    font-family: stratum2-medium, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    line-height: 1.5;

    color-scheme: light dark;
    color: var(--white);
    /* background-color: var(--bg-color); */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}

#root {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
    place-items: center;
}

html,
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
    background-color: transparent;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
#root,
#__next {
    isolation: isolate;
}

.main-content {
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    place-items: center;
    width: 100%;
    height: 100%;
}

.background-img {
    background-image: url('/src/assets/img/background.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1;
    grid-row: 1;
    z-index: 0;
    width: 100%;
    height: 100%;
}
